.projects_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 960px;
  margin:auto;
}

.card {
  display: grid;
  min-width: 320px;
  max-width: 420px;
  overflow: hidden;
  height: 150%;
  /* border: #222222 solid 1px; */
  margin: 8px;
  box-shadow: 1px 1px 10px grey;
  align-self: flex-start;
}

.card_header {
  font-size: 1.5em;
  height: 1em;
  overflow: hidden;
  text-align: center;
  padding: 6px 4px 12px 4px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  box-shadow: 0px 10px 50px white;
  z-index: 5;
}

.card_container_img {
  display: grid;
  height: 100%;
  overflow: hidden;
}

.card_img  {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.card_description {
  font-size: 1em;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 300;
  padding: 6px 6px 2px 6px;
  text-align: justify;
}

.card_tools {
  padding: 6px;
}
.card_action {
  padding: 6px;
}
hr { width:100%; height:1px; background: #fff }

.icon {
  padding: 2px;
}

.card_action_button {
  padding: 6px;
  border-radius: 50%;
  margin: 2px;
  outline:0;
}

.card_action_button:hover {
  animation-name: rotation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.card_action_button:active {
  box-shadow: 0px 0px 0px grey;
}

@keyframes rotation {
  0%   {transform: rotate(0deg)}
  100% {transform: rotate(360deg); box-shadow: 2px 2px 10px grey;}
}